.footer {
  width: 100%;
  height: auto;
  padding: 100px 0px 40px;
  background-color: #2400a8;
}

.footer .footer_w {
  width: 1180px;
  margin: 0 auto;
  border-top: 1px solid transparent;
}

.footer_w .footer_c ul a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  letter-spacing: 2px;
}

.footer-con {
  /* float: left; */
  list-style: none;
}

.footer-icons {
  position: relative;
}

.flex-style {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  align-items: flex-start;
}

.footer_w .footer_c ul li .sprit_5 {
  background: url('https://img.postpony.com/v3/common/sprite.png') no-repeat -84px 2px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
}

.footer_w .footer_c ul li .sprit_6 {
  margin: 0 27px;
  background: url('https://img.postpony.com/v3/common/sprite.png') no-repeat -108px 4px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 32px;
}

.footer_w .footer_c ul li .sprit_7 {
  margin: 0 24px;
  background: url('https://img.postpony.com/v3/common/sprite.png') no-repeat 0px -139px;
  width: 25px;
  height: 20px;
  position: absolute;
  top: 5px;
  left: 80px;
}

.footer_w .footer_c ul li .sprit_8 {
  background: url('https://img.postpony.com/v3/common/sprite.png') no-repeat 0px -22px;
  width: 113px;
  height: 113px;
}

.live_chat {
  text-align: center;
}

.footer .copy {
  text-align: center;
  margin-top: -7px;
}

.footer .copy .copy_1 {
  color: #989ed2;
}

@media (min-width: 1000px) and (max-width: 1299px) {
  .flex-style {
    padding: 0 20px;
  }

  .footer .footer_w {
    width: auto;
  }
}

@media (min-width: 600px) and (max-width: 999px) {
  .flex-style {
    padding: 0 20px;
  }

  .footer .footer_w {
    width: auto;
  }

  .footer-con {
    margin-right: 20px;
    margin-bottom: 30px;
  }

  .footer-img {
    width: 190px;
  }

  .footer_w .footer_c ul a {
    font-size: 12px;
  }
}

@media (max-width: 599px) {
  .flex-style {
    padding: 0 20px;
  }

  .footer .footer_w {
    width: auto;
  }

  .footer-con {
    margin-right: 20px;
    margin-bottom: 30px;
  }

  .footer-logo {
    width: 100%;
  }

  .footer-img {
    width: 130px;
  }

  .footer_w .footer_c ul a {
    font-size: 12px;
  }

  .live_chat {
    width: 90px;
    height: 25px;
    line-height: 25px;
  }

  .footer_w .footer_c ul li .sprit_6 {
    margin: 0;
  }

  .footer_w .footer_c ul li .sprit_7 {
    margin: 0 -21px;
  }
}